html,body
    width 100%
    height 100%

* 
    margin 0
    padding 0
    list-style none
    box-sizing border-box

// ---------- app.vue ----------------------------------------------------------
#app 
    width 100%
    height 100vh
    position relative
    // background #ffa
    overflow hidden

// 底色背景
.colorBg
    width 97%
    height 150%
    background-color rgb(47,85,151)
    // background #999
    border-radius 15px 15px 0 0
    position fixed
    top 2%
    left 1.5%
    z-index -1

// 選單選項
#menu .nav-item 
    // background-color #F5AF5E
    margin-bottom 15px
    font-size 30px
    line-height 50px
    text-align center
    border-radius 5px

#menu a
    text-decoration none
    color #fff

#menu .nav-link:hover,
#menu .nav-link:focus 
    background rgb(115, 157, 230)
    border-radius 5px
    width 100%
    height 100%

#menu svg 
    // background red

#menu .nav span
    display inline-block
    width 40%
    text-align left
    font-size 22px
    margin-left 15px
    // background-color green

// 選單按鈕
.bm-burger-bars
    background-color white

// 選單展開時的覆蓋背景
.bm-overlay
    background #fff

.menu-sm
    display none

.bg-info 
    background-color: rgb(47,85,151)!important;

// 小選單
.navbar
    justify-content 

#app .navbar-brand
    margin 0 auto

.navbar-dark .navbar-toggler 
    color rgba(255,255,255,.5)
    border none 
    padding .25rem .25rem

.navbar-dark .navbar-toggler:active
    outline none
    border none
    
.navbar-dark .navbar-toggler:focus
    outline none
    border none


// ---------- home.vue ----------------------------------------------------------
#home
    background #fff
    height 100%
    border-radius 20px 
    position absolute
    top 20px
    left 96px
    right 1%
    width calc(98%-96)

#home h1
    font-size 40px
    width 100%
    text-align center
    line-height 100px

#home .banner
    background #fff
    height 400px
    border-radius 20px
    box-shadow 0px 10px 30px rgba(0,0,0,0.15)
    font-size 110px
    text-align center
    color #ccc
    line-height 300px

#home .subtitle 
    font-size 22px
    color #888
    width 150px
    height 50px
    line-height 50px
    text-align center
    

#home .toolbar
    height 50px
    margin 20px 0
    border-radius 10px
    box-shadow 0 0 10px rgba(0,0,0,0.2)



// -------- 小尺寸 -------------------------------------------------------

@media(max-width:600px)
    .menu-sm
        display block
    #menu 
        display none
