@font-face 
    font-family modernline
    src url('../assets/modernline.otf')

@font-face 
    font-family shorelines
    src url('../assets/Shorelines Script Bold.otf')

@font-face 
    font-family cream-peach
    src url('../assets/Cream Peach.ttf')

@font-face 
    font-family bebasneue
    src url('../assets/BebasNeue-Regular.ttf')

@font-face 
    font-family big-noodle
    src url('../assets/big_noodle_titling.ttf')

@font-face 
    font-family gobold
    src url('../assets/Gobold Regular.otf')

html,body
    width 100%
    height 100%

* 
    margin 0
    padding 0
    list-style none
    box-sizing border-box
    font-family 'Microsoft JhengHei','Arial'

// ---------- app.vue ----------------------------------------------------------
#app 
    width 100%
    height 100vh
    position fixed
    // background #ffa
    overflow hidden

// 底色背景
.main-content
    width 100%
    height 100%
    // background-color rgb(47,85,151)
    // background #999
    position fixed
    z-index -1

// 選單選項
#menu .nav-item 
    // background-color #F5AF5E
    margin-bottom 15px
    font-size 30px
    line-height 50px
    text-align center
    border-radius 5px

#menu a
    text-decoration none
    color #fff

#menu .nav-link:hover,
#menu .nav-link:focus 
    background rgb(115, 157, 230)
    border-radius 5px
    width 100%
    height 100%

#menu svg 
    // background red

#menu .nav span
    display inline-block
    width 40%
    text-align left
    font-size 22px
    margin-left 15px
    // background-color green

// 選單按鈕
.bm-burger-bars
    background-color white

// 選單展開時的覆蓋背景
.bm-overlay
    background #fff

.menu-sm
    display none

.bg-info 
    background-color: rgb(47,85,151)!important;

// 小選單
.navbar
    justify-content 

#app .navbar-brand
    margin 0 auto

.navbar-dark .navbar-toggler 
    color rgba(255,255,255,.5)
    border none 
    padding .25rem .25rem

.navbar-dark .navbar-toggler:active
    outline none
    border none
    
.navbar-dark .navbar-toggler:focus
    outline none
    border none

.b-sidebar 
    display flex
    flex-direction column
    position fixed !important
    top 4%
    right 4%
    height 100vh
    width 320px
    max-width 100% !important
    height 100vh !important
    margin 0 !important
    outline 0
    -webkit-transform translateX(0)
    transform translateX(0)
    background  rgb(224, 236, 255) !important
    transition 0.5s !important

.b-sidebar.b-sidebar-right 
    left: auto;
    right: 1.5%;
    border-radius 15px 15px 0 0

// ---------- home.vue ----------------------------------------------------------
#home
    background #fff
    height 100%
    border-radius 20px 
    position absolute
    left 96px
    right 0
    width calc(100%-96)
    overflow-y scroll
    overflow-x hidden

#home h1
    font-size 40px
    width 100%
    text-align center
    line-height 100px

#home .banner
    background #eee
    height 300px
    border-radius 20px
    box-shadow 0px 10px 20px rgba(50,50,50,0.1)
    color #444
    display flex
    justify-content flex-start
    align-items center

.subtitle 
    font-size 22px
    color #888
    width 100px
    height 50px
    line-height 50px
    text-align center

.toolbar
    height 50px
    margin 20px 0
    padding 0
    border-radius 10px
    // box-shadow 0 0 10px rgba(0,0,0,0.1)


#home .imgWrap
    width 150px
    height 100px
    overflow hidden
    border-radius 12px
    object-fit cover

#home .card
    width 25%
    display flex
    justify-content center

.img-fluid 
    object-fit cover

.login-btn
    width 80px
    height 28px
    border-radius 14px
    background rgb(47,85,151)
    border none
    color white
    margin-left 50px
    font-size 14px
    line-height 28px

.sign-btn
    width 80px
    height 28px
    border-radius 14px
    background #fff
    // border 1px solid rgb(47,85,151)
    color rgb(47,85,151)
    font-size 13px
    line-height 25px
    margin-left 50px
    font-weight 600
    border none


.login-btn:hover,
.sign-btn:hover
    background #ddd
    color #000
    transition 0.3s ease-in
    border-color #ddd


.login-btn:focus,
.sign-btn:focus
    outline none

.modal-body
    padding 0

.modal-content
    border-radius 14px

.bg-video
    height 100vh
    position fixed
    // z-index -1

.t1
    font-size 90px
    position absolute
    left calc(50% - 240px)
    z-index 999
    color white
    font-family cream-peach
    letter-spacing 3px
    top 26%

.t2
    font-size 45px
    position absolute
    z-index 999
    color white
    left calc(50% - 36.5px)
    top 42%
    font-family bebasneue
    letter-spacing 5px

.t3
    font-family big-noodle
    font-size 200px
    position absolute
    z-index 999
    color white
    top 47%
    left calc(50% - 403px)

.gradient
    width 100%
    height 100vh
    position absolute
    background linear-gradient()



// ************************* home ***********************

// -------- information.vue --------------------------------------------

#information 
    background rgb(255, 246, 230)
    height 100%
    border-radius 20px 
    position absolute
    left 96px
    right 0
    width calc(100%-96)
    overflow scroll

#information .banner
    background linear-gradient(180deg, #FFE1B2 0%, rgba(255,255,255,0.2) 100% )
    height 630px
    width 630px
    border-radius 50%    
    margin auto
    margin-top 90px
    // overflow hidden

.woman
    position absolute
    left calc(50% - 425px)
    top 0%
    width 850px
    z-index 2

.info-title
    font-size 350px
    letter-spacing 100px
    position absolute
    left -45%
    top 32%
    line-height 350px
    font-weight 800
    // color rgba(255,255,255,0.85)
    background linear-gradient(180deg,#fff 0,rgba(255,255,255,0.7) 70%,transparent)
    -webkit-background-clip text
    -webkit-text-fill-color transparent
    // text-shadow 0 0 10px rgba(0,0,0,.2)
    font-family 'Fjalla One', sans-serif 
    z-index 0

.info-subtitle
    font-family 'Playfair Display', serif
    font-size 20px
    position absolute
    left 10%
    top 90%
    letter-spacing 9px
    color rgba(0,0,0,0.2)

.info-back-title
    font-family 'shorelines'
    color #ddd
    font-size 100px
    position absolute
    left -20%
    top 12%

.animate__animated.animate__fadeInDown 
    --animate-duration 2.5s

.triangle
    width 0
    height 0
    border-style solid
    border-width 10.5px 10.5px 0 10.5px
    border-color #EC5C2E transparent transparent transparent

.more
    margin-top 90px
    font-family 'Frank Ruhl Libre', serif
    color #EC5C2E

.content1
    height 100vh
    margin-top 150px
    position relative
    // border 1px solid #000

.num1
    height 90px
    position absolute
    z-index 999
    background #000

.c1-title
    // color rgb(47,85,151)
    color #FFE1B2
    font-size 25px
    line-height 50px
    font-weight 900
    font-family 'Oswald', sans-serif
    letter-spacing 6px
    position absolute
    z-index 9999
    background transparent !important

.num1::before
    content "01"
    position absolute
    font-size 90px
    font-weight 900
    font-family 'Oswald', sans-serif
    color #FFE1B2
    left -60px
    top -72px
    letter-spacing 8px


.num1::after
    content ""
    position absolute
    left 0px
    top 0px
    background rgb(255, 246, 230)
    width 155px
    height 60px

.box-1
    z-index 999
    margin auto
    padding-top 300px
    font-family 'Playfair Display', serif
    letter-spacing 1px
    text-align justify
    text-justify inter-ideograph
    text-indent 20px

.box-1-title
    position absolute
    top 180px
    left calc(50% - 210px)
    font-family 'Oswald', sans-serif
    font-size 60px
    letter-spacing 1px
    color #EC5C2E

.num2
    height 90px
    position absolute
    z-index 999
    background #000

.num2::before
    content "02"
    position absolute
    font-size 90px
    font-weight 900
    font-family 'Oswald', sans-serif
    color #FFE1B2
    left -60px
    top -72px
    letter-spacing 8px

.num2::after
    content ""
    position absolute
    left -10px
    top 5px
    background rgb(255, 246, 230)
    width 155px
    height 55px

.num3
    height 320px
    position absolute
    z-index 999
    background url('~@/assets/room.jpg') repeat-y center/70% 70%
    background-attachment fixed
    border-radius 20px

.num3-title
    color #fff
    font-size 25px
    line-height 50px
    font-weight 900
    font-family 'Oswald', sans-serif
    letter-spacing 6px
    position absolute
    left calc(50% - 160px)
    top 14%
    z-index 9000
    // background #EC5C2E !important

.num3-title::after
    content:'CONTACT US'
    position absolute
    background #EC5C2E
    width 190%
    height 110%
    top 0
    left 0
    font-size 35px
    line-height 55px
    padding-left 16px
    letter-spacing 15px
    border-radius 6px

// .num3::before
//     content "03"
//     position absolute
//     font-size 90px
//     font-weight 900
//     font-family 'Oswald', sans-serif
//     color #FFE1B2
//     left -60px
//     top -72px
//     letter-spacing 8px

// .num3::after
//     content ""
//     position absolute
//     left -10px
//     top 10px
//     background rgb(255, 246, 230)
//     width 155px
//     height 50px

.info 
    top 400px
    width 100%
    // background #fff
    position absolute
    z-index 9999
    padding 15px 0
    color #6C443C

.info  h4,p
    font-family 'Oswald','Microsoft JhengHei'
    color #6C443C

.form 
    top 600px
    width 100%
    position absolute
    z-index 9999
    color #6C443C

.form input
    line-height 45px
    width 80%
    padding-left 15px
    border none

.form textarea
    width 80%
    padding 0 15px
    line-height 45px
    border none

.form input:focus,
.form textarea:focus
    outline none

.contact
    height 133vh
    margin-top 150px
    position relative

.ct-submit
    background #6C443C
    border none
    color #ffffff
    width 150px
    height 45px
    border-radius 5px
    font-size 15px
    font-family 'Oswald'
    letter-spacing 2px
    margin-top 30px
    transition 0.3s

.ct-submit:focus
    outline none

.ct-submit:hover
    background #9B7A73

.footer
    width 100%
    height 40vh
    background #FFE1B2

.icon-wrap
    border 1px solid #6C443C
    width 45px
    height 45px
    color #6C443C
    font-size 23px
    line-height 43px
    text-align center

.icons
    padding 100px 0
    margin 0 auto

.c2-img
    padding-top 100px

.c2-img img
    max-width 130%
    object-fit cover
    object-position center center

.img-wrap
    height 250px
    width 250px
    overflow hidden
    border-radius 50%

// -------- workout.vue --------------------------------------------
#workout
    background #fff
    height 100%
    position absolute
    left 96px
    right 0%
    width calc(98%-96)
    overflow scroll

#workout .banner
    background #FFE1B2
    height 300px
    border-radius 20px
    box-shadow 0px 10px 20px rgba(50,50,50,0.1)
    color #444
    display flex
    justify-content flex-start
    align-items center
    margin-left 20px

.banner .title
    text-align center
    line-height 300px
    color #6C443C
    font-family 'Playfair Display'
    font-size 50px

#workout .navbar
    margin-top 30px
    width 100%

.navbar a
    color #000

#workout .poseCard
    width 90%
    height 150px
    background #FFF0E4
    border-radius 10px
    margin 0 10px
    box-shadow 0 5px 15px #FFF0E4

#workout .poseCard2
    background #E4F3FF
    box-shadow 0 5px 15px #E4F3FF

#workout .class-sub
    background linear-gradient(90deg, rgb(47,85,151) 0, rgb(47,85,151) 100%)
    width 170px
    height 35px
    line-height 35px
    text-align center
    color #fff
    text-shadow 0 0 20px #faa
    border-radius 20px
    letter-spacing 2px
    font-size 17px
    
// -------- timer.vue --------------------------------------------
#timer
    background #fff
    height 100%
    border-radius 20px 
    position absolute
    left 96px
    right 0
    width calc(98%-96)
    overflow scroll


// -------- 小尺寸 -------------------------------------------------------

@media(max-width:600px)
    .menu-sm
        display block
    #menu 
        display none
    .main-content
        width 100%
        left 0
        background transparent
    #information,#home,#workout
        width 100% !important
        left 0px
    #information .banner
        height 290px
        width 290px
    #information .woman
        left calc(50% - 200px)
        top -3%
        width 400px
        z-index 2
        margin 0 auto 
    .info-title
        font-size 135px
        letter-spacing 40px
        left -30%
        top 0%
        line-height 350px
        font-weight 800
    .info-subtitle
        font-size 7px
        letter-spacing 3px
        top 100%
    .info-back-title
        font-size 33px
        left 0%
        top 22%
    .more
        font-size 5px
    .c1-title
        font-size 20px
        letter-spacing 3px
        left calc(50% - 30px)
        top -35px
    .num1,.num2,.num3
        left calc(50% - 45px)
    .num1::before,.num2::before,.num3::before
        font-size 60px
        font-weight 900
        left -30px
        top -72px
        letter-spacing 8px
    .num1::after,.num2::after,.num3::after
        content ""
        position absolute
        left 10px
        top -25px
        background rgb(255, 246, 230)
        // background #ddd
        height 30px
    .box-1-title
        font-size 30px
        margin auto
        left calc(50% - 107px)
    .box-1
        font-size 12px
    #workout .banner .title
        line-height 300px
        font-size 30px

.images 
    height 90%
    display flex
    align-items center
    justify-content center
    border-radius 10px
    margin 0 10px
    box-shadow 0px 10px 13px rgba(0,0,0,0.1)

.img1 
    background rgb(224, 236, 255)

.img2 
    background rgb(255, 227, 224)

.img3 
    background rgb(224, 236, 255)

.img4 
    background rgb(224, 236, 255)

.img5 
    background rgb(224, 236, 255)

h2 
    color rgba(0,0,0,0.5)
    font-size 25px

.wrap-hooper 
    margin 50px 0

.wrap-hooper section:focus
    outline none

