@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')

body
    // font-family var(--font-family-sans-serif),"Noto Sans TC"
    font-family 'Quicksand','Microsoft JhengHei', sans-serif
    height 100vh

// list.vue ------------------------------------------

#list .container
    padding-top 50px

#list .title
    font-size 65px
    font-family Arial
    color white
    letter-spacing 3px

#list .btn1
    width 100px

.addInput .form-control::-webkit-input-placeholder 
    color #aaa
    font-size 18px
    font-family 'Microsoft JhengHei','Quicksand', sans-serif

#list
    background radial-gradient(#ad5389,#3c1053)
    height 100%
    z-index: 999
    padding-top 40px

#list ul
    display flex
    flex-direction column
    align-items center
    margin-top 15px

#list li
    // background-color #F5A5AC 
    // background-color #FEAC5E
    background-color #1e3c72
    width 88%
    list-style none
    height 60px
    line-height 60px
    border-radius 4px
    padding-left 25px
    font-size 24px
    color #fff
    margin 7px auto
    box-shadow 3px 5px 5.5px rgba(0,0,0,.35)
    display flex
    justify-content space-between
    align-items center

#list p
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    width 50%
    margin 0

#list .empitySpan
    font-size 30px
    color white
    margin 30px
    text-align center

.btn-cancel
    border none
    border-radius 50%
    background rgba(255,255,255,0.95)
    box-shadow 0px 4px 9px rgba(0,0,0,0.2)
    font-size 20px
    color #A50037
    height 30px
    width 30px
    line-height 30px

.btn-cancel:active
    outline none
    background #A50037
    color #fff

.btn-save:active
    outline none
    background #1E9E4A
    color #fff

.btn-save
    border none
    border-radius 50%
    background rgba(255,255,255,0.95)
    box-shadow 0px 4px 9px rgba(0,0,0,0.2)
    font-size 20px
    color #1E9E4A
    height 30px
    width 30px
    line-height 30px

.editBtns 
    display flex
    justify-content space-evenly
    align-items center
    // background #fff
    width 30%
    height 100%
    margin-right 10px

.editInput
    background none
    border none
    border-bottom 1.5px solid rgba(255,255,255,.8)
    height 70%
    width 60%
    padding-left 5px
    position relative
    color #fff
    font-size: 18px

.editInput:focus
    border none
    outline none 
    border-bottom 1.5px solid rgb(70,70,70)
    transition 0.5s
    color rgb(70,70,70)
    background rgba(255,255,255,0.9)
    border-radius 4px
    height 60%

.btn-edit
    border none
    background transparent
    // box-shadow 0px 4px 9px rgba(0,0,0,0.2)
    font-size 20px
    color #fff
    height 30px
    width 30px
    line-height 30px

.btn-del
    border none
    background transparent
    // box-shadow 0px 4px 9px rgba(0,0,0,0.2)
    font-size 20px
    color #fff
    height 30px
    width 30px
    line-height 30px

.btn-edit:active
    outline none
    background #666
    color #fff

.btn-del:active
    outline none
    background #666
    color #fff

.btn-cancel:focus,.btn-save:focus,.btn-edit:focus,.btn-del:focus
    outline none

.dragwrap
    width 100%



// ********************************************** list.vue end

// app.vue ---------------------------------------------------

// #app
//     height 100%
//     z-index 0

// #nav
//     background-color transparent
//     color #000
//     font-size 30px
//     width 150px !important
//     height 100%
//     text-align center
//     position absolute
//     right 0
//     top 0
//     padding-top 40px

// #nav .nav-item a
//     margin-top 10px
//     color #fff

// x 按鈕
// .bm-cross  
//     background-color: #fff

// // 漢堡鈕
// .bm-burger-bars
//     background-color: #fff !important

// // 側邊欄背景色
// .bm-menu 
//     background linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.4)),linear-gradient(80deg,rgba(238, 9, 121,0.5),rgba(255, 106, 0	
// ,0.6))
//     backdrop-filter blur(7px)
//     box-shadow 0px 0 15px rgba(0,0,0,0.2)

// ********************************************** app.vue end

// timer.vue -------------------------------------------------

#timer
    height 100%

#timer .container-fluid
    height 100%
    display flex
    justify-content center
    align-items center
    flex-direction column
    // background linear-gradient(60deg,rgba(253,187,250,0.25) 0%,rgba(255,209,148,0.6) 45%,rgba(112,225,245,0.5) 100%),linear-gradient(60deg,rgba(255,255,255,0.5) 0%, transparent 100%), url('~@/assets/sky.jpg') no-repeat center/cover
    background #E4F3FF

#timer h1
    margin 2rem 0
    font-family 'Microsoft JhengHei' 
    color #000
    z-index 1

.clock_shadow
    box-shadow 0 0 20px #fff
    height 300px
    width 300px
    background-color transparent
    border-radius 50%
    position relative

.shadow_in
    box-shadow inset 0 0 23px #fff
    height 87%
    width 87%
    top 6.7%
    left 6.7%
    background-color transparent
    border-radius 50%
    position absolute

.backdrop
    height 700px
    width 450px
    background-color rgba(255,220,200,0.05)
    position absolute
    backdrop-filter blur(5px) hue-rotate(75deg)
    border-radius 1rem
    box-shadow 5px 5px 10px rgba(100,100,100,0.3)

// ********************************************* timer.vue end

//  setting.vue ---------------------------------------------

#settings
    background linear-gradient(#000428,#004e92)
    height 100%
    width 100%
    padding-top 50px

#settings .container
    padding-top 40px

#settings .title
    font-size 65px
    font-family Arial
    color white
    letter-spacing 3px
    text-align center
    margin-bottom 20px

#settings .table
    color #fff

// 小尺寸的時候
@media(max-width:600px)
    #list p
        font-size 16px

    #list .title
        font-size 40px

    .addInput .form-control::-webkit-input-placeholder 
        font-size 15px

    // #app #nav
    //     width 150px

    #settings .audio
        width 200px

    #settings .title
        font-size 40px
        margin-bottom 30px
